@font-face {
    font-display: swap;
    font-family: Play;
    font-style: normal;
    font-weight: 400;
    src: url("@/fonts/Play-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: Play;
    font-style: normal;
    font-weight: 700;
    src: url("@/fonts/Play-Bold.woff") format("woff");
}
